<html>
   <head>
          <title>
                <%=title %>     
          </title>
          <script src="https://kit.fontawesome.com/ddd8df2e51.js" crossorigin="anonymous"></script>
          <link rel="stylesheet" href="/css/home.css">
       <body>
         <h2 id="page-heading"><i class="fas fa-phone"></i>
            Contact List
         </h2>
         <div id="contact-list">
             <ul>
                  <% for (let i of contact){ %>  
                          <li>
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                          </li>
                  <% } %>
            </ul>
         </div>
         <div id="contact-form">
                 <form action="/create-contact " method="POST">
                    <input type="text " name ="name" placeholder="Enter name" required>
                    <input type="number" name="phone" placeholder="Enter mob number" required>
                    <button type="submit"><i class="fas fa-plus"></i>Add contact</button>

                 </form>
             </div>
            <script type="text/javascript" src="/js/home.js" ></script>

    </body>

   </head>

</html>